@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background-dark: var(--background-dark);
  --color-background: var(--background);
  --color-background-light: var(--background-light);
  --color-text: var(--color-text);
  --color-muted: var(--text-muted);
  --color-highlight: var(--highlight);
  --color-border: var(--border);
  --color-border-muted: var(--border-muted);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-info: var(--info);
}

:root {
  --background-dark: oklch(0.92 0.005 200);
  --background: oklch(0.96 0.005 200);
  --background-light: oklch(1 0.005 200);
  --text: oklch(0.15 0.01 200);
  --text-muted: oklch(0.4 0.01 200);
  --highlight: oklch(1 0.01 200);
  --border: oklch(0.6 0.01 200);
  --border-muted: oklch(0.7 0.01 200);
  --primary: oklch(0.4 0.1 200);
  --secondary: oklch(0.4 0.1 20);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
}

.dark {
  --background-dark: oklch(0.1 0.005 200);
  --background: oklch(0.15 0.005 200);
  --background-light: oklch(0.2 0.005 200);
  --text: oklch(0.96 0.01 200);
  --text-muted: oklch(0.76 0.01 200);
  --highlight: oklch(0.5 0.01 200);
  --border: oklch(0.4 0.01 200);
  --border-muted: oklch(0.3 0.01 200);
  --primary: oklch(0.76 0.1 200);
  --secondary: oklch(0.76 0.1 20);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}
